/* 基础设置 */
.container {
  width: 1190px;
  margin: 0 auto;
}

/* 顶部导航条start */
.topbar {
  background-color: #ECECEC;
  height: 40px;
}

.welcome {
  height: 40px;
  line-height: 40px;
  font-size: 0;
  color: #666;
}

.welcome span, .welcome a {
  font-size: 16px;
}

.welcome .hello {
  margin-right: 28px;
}

.topbar-nav ul {
  height: 40px;
  line-height: 40px;
}

.topbar-nav ul li {
    float: left;
    font-size: 16px;
}

.topbar-nav ul li a {
    border-right: 1px solid #666;
    padding: 0 15px;
}

.topbar-nav ul li:first-child a {
    padding-left: 0;
}

.topbar-nav ul li:last-child a {
    border-right: 0;
    padding-right: 0;
}
/* 顶部导航条end */


/* 头部区域start */
.header {
  height: 120px;
  background-color: gray;
}

.header-logo img {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.header-search form {
    font-size: 0;
    margin-top: 42px;
}

.header-search form input {
    width: 508px;
    height: 34px;
    border: 1px solid black; 
}

.header-search form button {
    width: 80px;
    height: 36px;
    background-color: black;
    color: white;
    border: 0;
    vertical-align: top;
}
/* 头部区域end */
